#feedb_menu {
   max-height:150px;
   max-width:150px
   max-height: 45%;
   max-width:  45%;
}

#slideout {
  position: fixed;
  top: 40px;
  left: 0;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
#slideout_inner {
  position: fixed;
  top: 40px;
  
  left: -250px;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;

}
#slideout:active {
  left: 250px;
}
#slideout:active #slideout_inner {
  left: 0;
}


