/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, main, menu, nav, section, time, mark, audio, video, details,summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}	

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

article, aside, figure, footer, header, main, nav, section, details, summary {display: block;}

/* Responsive images and other embedded objects
Note: keeping IMG here will cause problems if you're using foreground images as sprites.
If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted.
don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
    white-space: pre; /* CSS2 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}

small {font-size: 85%;}

strong {font-weight: bold;}

td, td img {vertical-align: top;}

/* Make sure sup and sub don't screw with your line-heights
gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}

/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}



/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }



/*  #Resetting box model
*************************************
*/
*{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/* #media queries
****************************
*/

@media only screen{


    html { 
        background-image: url('/images/background.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

    }

    body {
        font-family: 'Special Elite', arial, helvetica, sans-serif;
        font-size: 16px;
        font-size: 1em;
    }

    #page {
        min-height: 100%;
        width: 80%;
        margin: 0 auto;
        padding: .5em;
    }

    a {
        text-decoration: none;
    }
    h1{
        text-align: center;
        font-size: 4em;
        margin-top: 10px;
    }

    h2{
        text-align: center;
        font-size: 3em;
        margin-top: 10px;
    }
    header{

        margin-left: 10%;
        margin-right: 10%;
    }

    img.cover{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    header nav{
        display: block;
        clear: both;
        border-radius: .5em;
        border: 3px solid #000;       
        background-color: #Bc82c6; 
        position: relative;
        overflow: auto;
        border-right: solid 1px #000;
        border-bottom: solid 1px #000;

    } 

    nav li {
        font-size: 120%;
        color: #2745a0;
        text-align: center;
        float: left;  
        width: 25%;
        max-height: 17px;
        border-right: solid 2px #000;
        border-bottom:solid 2px #000;
        max-height: 1.2em;
        overflow: hidden;
    }

    main{
        margin-top: 5px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15em;
        width: 95%;
    }

    p{
        font-family: 'Special Elite', helvetica, arial;
        text-align:left;
        margin-left:25%;
        margin-right:25%;
        margin-top:8px ;
    }

    img{
        alignment-adjust: central;

    }

    div.pic{
        position:fixed;
        margin: 0 auto;
    }
    nav a img{
        position:fixed;
        margin: 0 auto;

    }

    footer{
        position: fixed;
        margin-left: -50000px;
    }

    h3{

    }

    main ul li{
        float: left;
        width: 50%;
        max-height: 50%;
        padding: 5%;
        max-width: 50%;
        overflow: hidden;

        position: relative;
    } 
    
    main ul li:last-child{
       margin-bottom: 10em; 
    }


    li figcaption{
        position: absolute;
        left: auto;
        bottom: 1.3em;
        
        background-color: rgba(255, 255, 255, .75);
    }

    iframe{
        margin-left: 10%;
        margin-right: 10%;
        border: 3px solid #000;
        max-width: 100%;

    }
}

/* Small screens */
@media only screen and (max-width: 480px){

    section#page {
        width: 100%;
        margin-bottom: 15em;
    }
    header nav {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-top: 15em;
        z-index: 5;
    }

    footer nav li{
        position: absolute;
        left: -999em;
    }

    h1{
        font-size: 200%;
    }
    h2{
        font-size: 150%;
    }

    p{
        margin-left: 10%;
        margin-right:10%;
    }

    iframe{
        margin-left: 10%;
        margin-right: 10%;
        border: 3px solid #000;
        max-width: 80%;

    }


    header nav li {
        display: block;  
        float: left;  
        width: 25%; 
        border: 2px solid #000;
        background-color: #Bc82c6; 
        min-height: 45px;
        position: relative;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1.3em;
        color: #2745a0;
        text-align: center;
        

    } 
    
    
    
    main ul li{
        float: left;
        width: 80%;
        max-height: 50%;
        padding: 5%;
        max-width: 50%;
        overflow: hidden;

        position: relative;
    } 


    nav h2{
        text-align: center;
    }

    h3{
        margin-top: 10px;
        text-align: center;
    }

    footer{margin-bottom: 15em;}

}

/* large screens */
@media only screen and (max-width: 1299px){

}


/* Very Lagrge */
@media only screen and (min-width: 1300px){

}